<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<title>Verschachteltes Mootols-Accordion</title>
		
		<!-- Mootools JS Framework | http://www.mootools.net -->		
		<script type="text/javascript" src="mootools-1.11.js"></script>
		
		<!-- Verschachteltes Accordion -->	
		<script type="text/javascript" src="functions.js"></script>
		
		<!-- Beispiel-Styles -->
		<link href="styles.css" type="text/css" rel="stylesheet" />
	</head>
	
	<body>

		<h1>Verschachteltes<br /> Mootols-Accordion</h1>
				
		<dl class="accordion">
			<dt class="accordion_toggler_1">Fische</dt>
			<dd class=" accordion_content_1">
				<dl>
					<dt class="accordion_toggler_2">Knochenfische</dt>
					<dd class=" accordion_content_2">
						<dl>
							<dt class="accordion_toggler_3">Aalartige</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Aalartige">Aalartige</a></p></dd>

							<dt class="accordion_toggler_3">Barschartige</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Barschartige">Barschartige</a></p></dd>
							
							<dt class="accordion_toggler_3">Hechtartige</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Hechtartige">Hechtartige</a></p></dd>
							
							<dt class="accordion_toggler_3">Störartige</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Störartige">Störartige</a></p></dd>	
						</dl>						
					</dd>
			
					<dt class="accordion_toggler_2">Knorpelfische</dt>
					<dd class=" accordion_content_2">
						<dl>
							<dt class="accordion_toggler_3">Ammenhaiartige</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Ammenhaiartige">Ammenhaiartige</a></p></dd>

							<dt class="accordion_toggler_3">Grundhaie</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Grundhaie">Grundhaie</a></p></dd>
							
							<dt class="accordion_toggler_3">Makrelenhaiartige</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Makrelenhaiartige">Makrelenhaiartige</a></p></dd>
							
							<dt class="accordion_toggler_3">Rochen</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Rochen">Rochen</a></p></dd>	
						</dl>						
					</dd>
					
					<dt class="accordion_toggler_2">Süßwasserfische</dt>
					<dd class="accordion_content accordion_content_2"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Süßwasserfisch">Süßwasserfische</a></p></dd>
				</dl>
			</dd>
		
			<dt class="accordion_toggler_1">Vögel</dt>
			<dd class=" accordion_content_1">
				<dl>
					<dt class="accordion_toggler_2">Eisvogelartige</dt>
					<dd class="accordion_content accordion_content_2"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Eisvogelartige">Eisvogelartige</a></p></dd>
				
					<dt class="accordion_toggler_2">Eulen</dt>
					<dd class=" accordion_content_2">
						<dl>
							<dt class="accordion_toggler_3">Eigentliche Eulen</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Eigentliche_Eulen">Eigentliche Eulen</a></p></dd>

							<dt class="accordion_toggler_3">Schleiereulen</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Schleiereulen">Schleiereulen</a></p></dd>						
						</dl>						
					</dd>
				
					<dt class="accordion_toggler_2">Gänsevögel</dt>
					<dd class=" accordion_content_2">
						<dl>
							<dt class="accordion_toggler_3">Entenvögel</dt>
							<dd class=" accordion_content_3">
								<dl>
									<dt class="accordion_toggler_4">Gänserasse</dt>
									<dd class="accordion_content accordion_content_4"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Gänserasse">Gänserasse</a></p></dd>

									<dt class="accordion_toggler_4">Hausentenrassen</dt>
									<dd class="accordion_content accordion_content_4"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Greifvögel">Hausentenrassen</a></p></dd>						
								</dl>						
							</dd>
						</dl>					
					</dd>
					
					<dt class="accordion_toggler_2">Greifvögel</dt>
					<dd class=" accordion_content_2">
						<dl>
							<dt class="accordion_toggler_3">Falkenartige</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Falkenartige">Falkenartige</a></p></dd>

							<dt class="accordion_toggler_3">Habichtartige</dt>
							<dd class="accordion_content accordion_content_3"><p>Beispiel-Inhalt: <a href="http://de.wikipedia.org/wiki/Kategorie:Habichtartige">Habichtartige</a></p></dd>						
						</dl>						
					</dd>
				</dl>
			</dd>
		
			<dt class="accordion_toggler_1">Reptilien</dt>
			<dd class="accordion_content accordion_content_1"><p>Beispiel-Inhalt: Hier hatte ich dann doch keine Lust mehr, Zusendungen erwünscht.</p></dd>
			
			<dt class="accordion_toggler_1">Säugetiere</dt>
			<dd class="accordion_content accordion_content_1"><p>Beispiel-Inhalt: Hier hatte ich dann doch keine Lust mehr, Zusendungen erwünscht.</p></dd>
		</dl>					
					
	</body>
</html>